/* ********** Custom Properties ********** */
:root {
	--first-color: #0f1926;
	--first-alpha-color: rgba(15, 25, 38, 0.75);
	--second-color: #2c3540;
	--second-alpha-color: rgba(44, 53, 64, 0.75);
	--third-color: #39184b;
	--third-alpha-color: #d90062;
	--fourth-color: #547e99;
	/* text-colors */
	--text-black-color: #222;
	--text-white-color: #e8f0f8;
	--subtitle-color: #5b4eb8;
	--emphasis-color: #4c92bf;
	--link-color: #fab266;
	--reverse-link-color: #311440;
	--title-color: #333;
	/* other colors */
	--white-color: #fff;
	--gray-light-color: #f3f3f3;
	--gray-color: #ccc;
	--gray-dark-color: #666;
	--black-color: #000;
	--white-alpha-color: rgba(255, 255, 255, 0.5);
	--black-alpha-color: rgba(0, 0, 0, 0.5);
	/* avatar colors */
	--barbarian-color: #5b4eb8;
	--archer-color: #ee5487;
	--giant-color: #ec9b3b;
	--globlin-color: #82b;
	--wizard-color: #4facff;
	--wise-color: #eec92b;

	--font: 'Raleway', sans-serif;
	--max-width: 1200px;
	--header-height: 4rem;
	--ggs: 3;
	--svg-icons-color: #0b476d;
	/* animation area background */
	--animationSpeed: 30s;
}
/* ********** Custom Properties ********** */
/* **************************************************************************** */
/* ********** Reset ********** */
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* background-color: ; */
	font-family: var(--font);
	font-size: 16px;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-x: hidden;
	color: var(--text-color);
}
a {
	color: var(--link-color);
	transition: all 0.5s ease-out;
	text-decoration: none;
	outline: 0;
}
a:hover {
	opacity: 0.75;
}
li {
	list-style: none;
}
figure {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 1rem 0;
	font-size: 2rem;
}

h2 {
	margin: 0.75rem 0;
	font-size: 1.5rem;
}

h3 {
	margin: 0.5rem 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0.4rem 0;
	font-size: 1rem;
}

h5 {
	margin: 0.35rem 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0.25rem 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.6;
}
/* ********** Reset *********************** */
/* **************************************************************************** */
/* ********** Utilities ****** */
.between-both-l {
	margin-left: 5rem;
}
.between--both-r {
	margin-right: 5rem;
}
.bordered {
	border: 1px solid red;
}

/* Utilities-elements */
/* button {
	cursor: pointer;
	margin: 0;
	padding: 0;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background: transparent;
	color: #080e1a;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 1;
} */
/* elements */
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input,
textarea,
select {
	display: block;
	margin: 0;
	padding: 12px 8px;
	width: 100%;
	border: 1px solid #d6d9de;
	border-radius: 5px;
	background-color: #fff;
	color: #080e1a;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 1;
}
input:focus,
textarea:focus,
select:focus {
	outline: transparent;
	border-color: get-brand(primary);
}
input:disabled,
textarea:disabled,
select:disabled {
	cursor: not-allowed;
	color: #6e7786;
}
input[type='color'] {
	padding: 0;
}

legend {
	font-weight: 700;
}

label {
	color: #6e7786;
	font-weight: 700;
	text-transform: uppercase;
}
textarea {
	resize: none;
}
/* clases */
.avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.b-light {
	color: #5d5d5d;
	font-weight: 700;
}

.bg-gray-light {
	background-color: var(--gray-light-color);
}

.box-shadow-1 {
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
	border-radius: 0.5rem;
	padding: 1rem;
	display: inline-block;
	width: 200px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--white-color);
	background-color: var(--first-color);
}
.bg_gradient01 {
	background: rgb(49, 20, 64);
	background: -o-linear-gradient(0deg, rgba(49, 20, 64, 1) 0%, rgba(44, 53, 64, 1) 45%, rgba(15, 25, 38, 1) 75%);
	background: -moz-linear-gradient(0deg, rgba(49, 20, 64, 1) 0%, rgba(44, 53, 64, 1) 45%, rgba(15, 25, 38, 1) 75%);
	background: -webkit-linear-gradient(0deg, rgba(49, 20, 64, 1) 0%, rgba(44, 53, 64, 1) 45%, rgba(15, 25, 38, 1) 75%);
	background: linear-gradient(0deg, rgba(49, 20, 64, 1) 0%, rgba(44, 53, 64, 1) 45%, rgba(15, 25, 38, 1) 75%);
}
.bg_gradient02 {
	background: rgb(152, 84, 183);
	background: -o-linear-gradient(115deg, rgba(152, 84, 183, 1) 0%, rgba(107, 65, 158, 1) 45%, rgba(77, 53, 141, 1) 75%);
	background: -moz-linear-gradient(
		115deg,
		rgba(152, 84, 183, 1) 0%,
		rgba(107, 65, 158, 1) 45%,
		rgba(77, 53, 141, 1) 75%
	);
	background: -webkit-linear-gradient(
		115deg,
		rgba(152, 84, 183, 1) 0%,
		rgba(107, 65, 158, 1) 45%,
		rgba(77, 53, 141, 1) 75%
	);
	background: linear-gradient(115deg, rgba(152, 84, 183, 1) 0%, rgba(107, 65, 158, 1) 45%, rgba(77, 53, 141, 1) 75%);
}
.bolder {
	font-weight: 700;
}
.circle {
	border-radius: 25%;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	-ms-border-radius: 25%;
	-o-border-radius: 25%;
}
.sepia {
	filter: sepia(55%);
	-webkit-filter: sepia(55%);
}
.extra-bolder {
	font-weight: 900;
}
.buttonbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 16px;
}
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}
.distance-top-0 {
	margin-top: -4rem !important;
}
.distance-top {
	margin-top: 2rem;
}
.distance-top-l {
	margin-top: 4rem;
}
.distance-top-xl {
	margin-top: 6rem;
}
.distance-bottom {
	margin-bottom: 1rem;
}
.distance-bottom-l {
	margin-bottom: 2rem;
}
.distance-bottom-xl {
	margin-bottom: 3rem;
}
.padding-top {
	padding-top: 1rem;
}
.padding-top-l {
	padding-top: 2rem;
}
.padding-bottom {
	padding-bottom: 1rem;
}
.padding-top-l {
	padding-bottom: 2rem;
}

/* ******** filters */
.filter-blur {
	filter: blur(2px);
	-webkit-filter: blur(2px);
}
.filter-brightness {
	filter: brightness(1.9);
	-webkit-filter: brightness(1.9);
}
.filter-contrast {
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}
.filter-grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.filter-hue-rotate {
	filter: hue-rotate(270deg);
	-webkit-filter: hue-rotate(270deg);
}
.filter-invert {
	filter: invert(40%);
	-webkit-filter: invert(40%);
}
.filter-opacity {
	filter: opacity(60%);
	-webkit-filter: opacity(60%);
}
.filter-sepia {
	filter: sepia(100%);
	-webkit-filter: sepia(100%);
}
.filter-saturate {
	filter: saturate(300%);
	-webkit-filter: saturate(300%);
}
.filter-drop-shadow {
	filter: drop-shadow(1);
	-webkit-filter: drop-shadow(1);
}
/* ******** heading */
.heading {
	max-width: 800px;
	margin: 0 auto;
	padding: 10px;
}
.heading-title {
	font-size: 2.5rem;
	color: var(--third-color);
}
.heading-subtitle {
	font-size: 1.5rem;
}
.heading-footer {
	font-size: 1.3rem !important;
}
.gray-scale {
	filter: grayscale(0.3);
	-webkit-filter: grayscale(0.3);
}
.none {
	display: none;
}
.heading-title-fig {
	display: flex;
	flex-direction: row;
	align-items: center; /* vertical alineamiento dentro del row*/
	justify-content: space-between; /* espacio sobrante en medio */
}
.padding-top3 {
	padding-top: 3rem;
}
/* ********** icons *****/
.svg-icon {
	color: var(--svg-icons-color);
	margin: 3rem 0;
}
.section-title {
	border-top: thin solid var(--second-color);
	border-bottom: thin solid var(--second-color);
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	width: 250px;
	text-align: center;
	color: var(--title-color);
}
.space-v-l {
	margin: 1.5rem 0;
}
.text-purple-dark-color {
	color: var(--third-color);
}
.text-purple-light-color {
	color: var(--subtitle-color);
}
.text-blue-color {
	color: var(--emphasis-color);
}
.text-grey-color {
	color: var(--title-color);
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-light {
	color: var(--hero-text-color);
}
.text-medium {
	font-size: 1.3rem;
}
.testbutton {
	font-family: arial;
	color: #e8f0f8 !important;
	font-size: 14px;
	text-shadow: 0px 0px 0px #7cacde;
	box-shadow: 1px 1px 1px #bee2f9;
	padding: 10px 25px;
	border-radius: 10px;
	border: 2px solid #2c3039;
	background: #2c3240;
	background: linear-gradient(to top, #2c3240, #2c3039);
}
.testbutton:hover {
	color: #ffffff !important;
	background: #2c3140;
	background: linear-gradient(to top, #2c3140, #181d26);
}

@media screen and (min-width: 1024px) {
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}
	.heading-title {
		font-size: 3.5rem;
	}
	.heading-subtitle {
		font-size: 2rem;
	}
	.text-lg-center {
		text-align: center;
	}
	.text-lg-left {
		text-align: left;
	}
	.text-lg-right {
		text-align: right;
	}
	.lg-visibility {
		display: inherit;
	}
	.lg-none {
		display: none;
	}
}
/* ********** Utilities ****** */
/* **************************************************************************** */
/* ********** Components ****************** */
/* ********** buttons ***/
.c-button {
	cursor: pointer;
	display: inline-block;
	padding: 16px 32px;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	background: var(--reverse-link-color);
	color: #fff;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.c-button:hover {
	border-color: var(--link-color);
	background-color: transparent;
	color: #fff;
}
.c-button:focus {
	text-decoration: none;
}
@media screen and (min-width: 1200px) {
	.c-button {
		background: var(--link-color);
	}
}

/* ********** cards *****/
.heading-cards {
	display: flex;
	flex-wrap: wrap;
}
.heading-card {
	margin: 0.5rem auto;
	padding: 1rem;
	width: 100%;
	height: 100%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.heading-card > svg {
	width: 2rem;
	height: 2rem;
	fill: var(--first-color);
}
.heading-card > small {
	margin-top: -1rem;
}
/* .heading-card_head {
	flex: 1;
} */
.heading-card_body {
	flex: 1;
}

@media screen and (min-width: 768px) {
	.heading-cards {
		display: grid;
		grid-template-columns: repeat(1, 75%);
		justify-content: space-around;
	}
	.heading-card {
		text-align: left;
	}
}
@media screen and (min-width: 1024px) {
	.heading-cards {
		grid-template-columns: repeat(3, 26%);
	}
	.heading-card {
		text-align: left;
		padding: 0;
	}
	.heading-card_foot {
		text-align: right !important;
	}
}
/* ********** icons3d  thumbnails  */
.thumbnail100 {
	width: 100px;
	height: auto;
}
.thumbnail150 {
	width: 150px;
	height: auto;
}
.thumbnail200 {
	width: 200px;
	height: auto;
}
.thumbnail250 {
	width: 250px;
	height: auto;
}
.thumbnail300 {
	width: 300px;
	height: auto;
}
.thumbnail100 img,
.thumbnail150 img,
.thumbnail200 img,
.thumbnail250 img,
.thumbnail300 img {
	max-width: 100%;
	height: auto;
	margin: 1rem;
}

/* ********** jumbotron */
.jumbotron {
	height: 100vh;
	width: 100%;
	left: 0;
	opacity: 0.7;
	/* position: absolute; */
	top: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;

	background-image: url(../../assets/images/heroimage_001.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.jumbotron-content {
	text-align: center;
	position: relative;
	bottom: 7.5vh;
}
.jumbotron-title {
	font-size: 5vw;
	color: var(--third-color);
}
.jumbotron-title span {
	color: var(--hero-text-color);
}
.jumbotron-title span.text-light {
	color: var(--hero-text-color);
}
.jumbotron-subtitle {
	font-size: 4vw;
	color: var(--black-color);
}
.jumbotron-subtitle span {
	color: var(--emphasis-color);
}
@media screen and (min-width: 1200px) {
	.jumbotron {
		opacity: 1;
	}
	.jumbotron-title {
		font-size: 3vw;
	}
	.jumbotron-subtitle {
		font-size: 2vw;
		color: var(--subtitle-color);
	}
	.jumbotron-content {
		text-align: left;
	}
}
/* ********** HeroImage ********** */
/* .hero-image {
	background-image: var(--hero-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: var(--hero-attachment);

	background-position: center;
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--hero-opacity-color);
}

.hero-image-title {
	font-size: 7.5vw;
	color: var(--hero-text-color);
} */
/* ********** Menu ********** */
.menu-btn {
	outline: thin solid var(--text-white-color);
	border: 0;
	cursor: pointer;
	background-color: var(--second-color);
}

.menu-btn svg {
	fill: var(--text-white-color);
}

.menu {
	position: fixed;
	left: 0;
	bottom: var(--header-height);
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--second-color);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.menu.is-active {
	opacity: 1;
	pointer-events: auto;
}

.menu a {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: var(--text-white-color);
}

.menu a:hover {
	color: var(--link-color);
	background-color: var(--first-color);
}
@media screen and (min-width: 1024px) {
	.menu-btn {
		display: none;
	}

	.menu {
		position: static;
		width: auto;
		flex-direction: row;
		opacity: 1;
		pointer-events: auto;
	}

	.menu a {
		padding: 0 1rem;
	}

	.menu a:last-child {
		padding-right: 0;
	}

	.menu a:hover {
		background-color: transparent;
	}
}
/******** quick search */
input[type='search'] {
	padding: 10px 20px;
	-webkit-appearance: none;
	opacity: 0.5;
	border-radius: 400px;
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
	-ms-border-radius: 400px;
	-o-border-radius: 400px;
}

/* ********** Components ***** */
/* **************************************************************************** */
/* ********** Site Styles **** */
.about {
	padding-top: 1rem;
}
.header {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	padding: 0.3rem;
	width: 100%;
	height: var(--header-height);
	background-color: var(--second-color);
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo a {
	color: var(--first-color);
	font-weight: bold;
	/* font-size: 2rem; */
	text-decoration: none;
}
.logo span {
	font-family: Raleway;
	font-size: 1.5rem;
	color: var(--third-alpha-color);
}
.svg-logo {
	display: block;
	height: 50px;
	width: 35px; /* 136px; */
	background: url(../../assets/images/logo.svg) no-repeat;
	background-size: 100%;
	color: transparent;
	font-size: 0;
	line-height: 0;
}
.svg-logo--negative {
	background-image: url(../../assets/images/logo_006.svg);
}
/* ********** widget */
.widget {
	display: inline-block;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
}
.btn,
.social-count {
	position: relative;
	display: inline-block;
	display: inline-flex;
	height: 14px;
	padding: 2px 5px;
	font-size: 11px;
	font-weight: 600;
	line-height: 14px;
	vertical-align: bottom;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-repeat: repeat-x;
	background-position: -1px -1px;
	background-size: 110% 110%;
	border: 1px solid;
}
.btn {
	border-radius: 0.25em;
}
.btn:not(:last-child) {
	border-radius: 0.25em 0 0 0.25em;
}
.social-count {
	border-left: 0;
	border-radius: 0 0.25em 0.25em 0;
}
.widget-lg .btn,
.widget-lg .social-count {
	height: 16px;
	padding: 5px 10px 20px 10px;
	font-size: 12px;
	line-height: 16px;
}
.octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
	overflow: visible;
}
.btn {
	color: #24292f;
	background-color: #ebf0f4;
	border-color: #ccd1d5;
	border-color: rgba(27, 31, 36, 0.15);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f6f8fa'/%3e%3cstop offset='90%25' stop-color='%23ebf0f4'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
	background-image: -moz-linear-gradient(top, #f6f8fa, #ebf0f4 90%);
	background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF6F8FA', endColorstr='#FFEAEFF3');
}
:root .btn {
	filter: none;
}
.btn:focus,
.btn:hover {
	background-color: #e9ebef;
	background-position: 0 -0.5em;
	border-color: #caccd1;
	border-color: rgba(27, 31, 36, 0.15);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f3f4f6'/%3e%3cstop offset='90%25' stop-color='%23e9ebef'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
	background-image: -moz-linear-gradient(top, #f3f4f6, #e9ebef 90%);
	background-image: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#FFF3F4F6', endColorstr='#FFE8EAEE');
}
:root .btn:focus,
:root .btn:hover {
	filter: none;
}
.btn:active {
	background-color: #e5e9ed;
	border-color: #c7cbcf;
	border-color: rgba(27, 31, 36, 0.15);
	box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 36, 0.15);
	background-image: none;
	filter: none;
}
.social-count {
	color: #24292f;
	background-color: #fff;
	border-color: #ddddde;
	border-color: rgba(27, 31, 36, 0.15);
}
.social-count:focus,
.social-count:hover {
	color: #0969da;
}
.team {
	/* background-color: var(--second-color); */
	/* background: url() fixed center no-repeat; */
	background-image: url(../images/bg_team_07.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: row;
}
.octicon-heart {
	color: #bf3989;
}

@media screen and (min-width: 1024px) {
	.about {
		padding-top: 3rem;
	}
	.columns {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		justify-content: space-between;
		align-content: center;
	}

	.footer {
		margin-bottom: 0;
	}

	.header {
		position: sticky;
		top: 0;
		padding: 0.2rem;
		height: calc(var(--header-height) - 0.5rem);
	}
	.logo span {
		font-size: 2rem;
		color: var(--text-white-color);
	}
	.start {
		padding-top: 4rem;
	}
}

/* ********************************fx special */
/* ********* shine*/
.shine figure {
	position: relative;
}
.shine figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.shine figure:hover::before {
	-webkit-animation: shine 0.75s;
	animation: shine 0.75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* ******* scale */
.scale {
	opacity: 0.8;
	transform: scale(0.6);
	transition: all 0.2ms ease-in;
	-webkit-transition: all 0.2ms ease-in;
	-moz-transition: all 0.2ms ease-in;
	-ms-transition: all 0.2ms ease-in;
	-o-transition: all 0.2ms ease-in;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
}
.scale:hover {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

/* ******** btn-liquid */
.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 60px;
	background-color: transparent;
	border-color: transparent;

	border-radius: 27px;

	color: transparent;
	font: 700 14px/60px 'Droid Sans', sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;

	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	z-index: 1;
}
/* ******** snip1321 */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800); */
figure.snip1321 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px;
	/* min-width: 230px; */
	max-width: 200px;
	width: 100%;
	color: #000000;
	text-align: center;
	-webkit-perspective: 50em;
	perspective: 50em;
}
figure.snip1321 * {
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
figure.snip1321 img {
	max-width: 100%;
	vertical-align: top;
}
figure.snip1321 figcaption {
	top: 50%;
	left: 20px;
	right: 20px;
	position: absolute;
	opacity: 0;
	z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
	margin: 0;
}
figure.snip1321 h2 {
	font-weight: 600;
}
figure.snip1321 h4 {
	font-weight: 400;
	text-transform: uppercase;
}
figure.snip1321 i {
	font-size: 32px;
}
figure.snip1321:after {
	background-color: #ffffff;
	position: absolute;
	content: '';
	display: block;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
}
figure.snip1321 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	opacity: 0.9;
}
/* ***************************************** animation area background *** */
.animation-area {
	background-color: transparent;
	width: 0%;
	height: 0vh;
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	bottom: -150px;
	background: rgba(0, 0, 0, 0);
	animation: animate var(--animationSpeed) infinite linear;
	-webkit-animation: animate var(--animationSpeed) infinite linear;
	-moz-animation: animate var(--animationSpeed) infinite linear;
	-ms-animation: animate var(--animationSpeed) infinite linear;
	-o-animation: animate var(--animationSpeed) infinite linear;
}
@keyframes animate {
	0% {
		transform: translateY(100px) rotate(0deg);
		opacity: 1;
		-webkit-transform: translateY(100px) rotate(0deg);
		-moz-transform: translateY(100px) rotate(0deg);
		-ms-transform: translateY(100px) rotate(0deg);
		-o-transform: translateY(100px) rotate(0deg);
	}
	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 1;
		-webkit-transform: translateY(-1200px) rotate(360deg);
		-moz-transform: translateY(-1200px) rotate(360deg);
		-ms-transform: translateY(-1200px) rotate(360deg);
		-o-transform: translateY(-1200px) rotate(360deg);
	}
}
@-webkit-keyframes animate {
	0% {
		transform: translateY(0px) rotate(0deg);
		opacity: 1;
		-webkit-transform: translateY(0px) rotate(0deg);
		-moz-transform: translateY(0px) rotate(0deg);
		-ms-transform: translateY(0px) rotate(0deg);
		-o-transform: translateY(0px) rotate(0deg);
	}
	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 1;
		-webkit-transform: translateY(-1200px) rotate(360deg);
		-moz-transform: translateY(-1200px) rotate(360deg);
		-ms-transform: translateY(-1200px) rotate(360deg);
		-o-transform: translateY(-1200px) rotate(360deg);
	}
}
@-moz-keyframes animate {
	0% {
		transform: translateY(0px) rotate(0deg);
		opacity: 1;
		-webkit-transform: translateY(0px) rotate(0deg);
		-moz-transform: translateY(0px) rotate(0deg);
		-ms-transform: translateY(0px) rotate(0deg);
		-o-transform: translateY(0px) rotate(0deg);
	}
	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 1;
		-webkit-transform: translateY(-1200px) rotate(360deg);
		-moz-transform: translateY(-1200px) rotate(360deg);
		-ms-transform: translateY(-1200px) rotate(360deg);
		-o-transform: translateY(-1200px) rotate(360deg);
	}
}
@-ms-keyframes animate {
	0% {
		transform: translateY(0px) rotate(0deg);
		opacity: 1;
		-webkit-transform: translateY(0px) rotate(0deg);
		-moz-transform: translateY(0px) rotate(0deg);
		-ms-transform: translateY(0px) rotate(0deg);
		-o-transform: translateY(0px) rotate(0deg);
	}
	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 1;
		-webkit-transform: translateY(-1200px) rotate(360deg);
		-moz-transform: translateY(-1200px) rotate(360deg);
		-ms-transform: translateY(-1200px) rotate(360deg);
		-o-transform: translateY(-1200px) rotate(360deg);
	}
}
@-o-keyframes animate {
	0% {
		transform: translateY(0px) rotate(0deg);
		opacity: 1;
		-webkit-transform: translateY(0px) rotate(0deg);
		-moz-transform: translateY(0px) rotate(0deg);
		-ms-transform: translateY(0px) rotate(0deg);
		-o-transform: translateY(0px) rotate(0deg);
	}
	100% {
		transform: translateY(-1200px) rotate(360deg);
		opacity: 1;
		-webkit-transform: translateY(-1200px) rotate(360deg);
		-moz-transform: translateY(-1200px) rotate(360deg);
		-ms-transform: translateY(-1200px) rotate(360deg);
		-o-transform: translateY(-1200px) rotate(360deg);
	}
}
.box-area li {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 8s;
}

.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
	left: 42%;
	width: 110px;
	height: 110px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0.5s;
	animation-duration: 8s;
}

.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
	animation-duration: 15s;
}
.box-area li:nth-child(7) {
	left: 76%;
	width: 20px;
	height: 20px;
	animation-delay: 5s;
	animation-duration: 4s;
}
.box-area li:nth-child(8) {
	left: 16%;
	width: 180px;
	height: 180px;
	animation-delay: 0.5s;
	animation-duration: 11s;
}
.box-area li:nth-child(9) {
	left: 26%;
	width: 16px;
	height: 16px;
	animation-delay: 3s;
	animation-duration: 7s;
}
.box-area li:nth-child(10) {
	left: 46%;
	width: 80px;
	height: 80px;
	animation-delay: 2s;
	animation-duration: 3s;
}
/* ***************************** work team dissapear *** */
@import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';

.wraper-disappear {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	align-items: center;
	justify-content: space-around;
}
.design {
	color: #444;
	font-size: 0;
	line-height: 1;
	opacity: 0.5;
	/* z-index: 1000; */
}
.design span {
	font-size: 50px;
	display: inline-block;
	animation: move 3s ease-in-out infinite;
	-webkit-animation: move 3s ease-in-out infinite;
}
.design span:nth-child(2) {
	animation-delay: 0.5s;
}
.design span:nth-child(3) {
	animation-delay: 1s;
}
.design span:nth-child(4) {
	animation-delay: 1.5s;
}
.design span:nth-child(5) {
	animation-delay: 0.5s;
}
.design span:nth-child(6) {
	animation-delay: 1s;
}
.design span:nth-child(7) {
	animation-delay: 1.5s;
}
.design span:nth-child(8) {
	animation-delay: 0.5s;
}
.design span:nth-child(9) {
	animation-delay: 1s;
}
.design span:nth-child(10) {
	animation-delay: 1.5s;
}

@keyframes move {
	0% {
		transform: translate(-33%, 0);
		-webkit-transform: translate(-33%, 0);
		-moz-transform: translate(-33%, 0);
		-ms-transform: translate(-33%, 0);
		-o-transform: translate(-33%, 0);
	}
	50% {
		text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
	}
	100% {
		transform: translate(33%, 0);
		-webkit-transform: translate(33%, 0);
		-moz-transform: translate(33%, 0);
		-ms-transform: translate(33%, 0);
		-o-transform: translate(33%, 0);
	}
}
@-webkit-keyframes move {
	0% {
		transform: translate(-33%, 0);
		-webkit-transform: translate(-33%, 0);
		-moz-transform: translate(-33%, 0);
		-ms-transform: translate(-33%, 0);
		-o-transform: translate(-33%, 0);
	}
	50% {
		text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
	}
	100% {
		transform: translate(33%, 0);
		-webkit-transform: translate(33%, 0);
		-moz-transform: translate(33%, 0);
		-ms-transform: translate(33%, 0);
		-o-transform: translate(33%, 0);
	}
}
@media screen and (min-width: 1024px) {
	.wraper-disappear {
		display: grid;
		grid-template-columns: repeat(3, 25%);
		align-items: center;
		justify-content: space-around;
	}
}

/* ***************************************** avatars *** */
/* avatar colors */
/* 
	--barbarian-color: #5b4eb8; #493E9B
	--archer-color: #ee5487;
	--giant-color: #ec9b3b;
	--globlin-color: #82b;
	--wizard-color: #4facff;
	--wise-color: #eec92b; 
	*/
.slide-container {
	margin: auto;
	width: 500px;
	text-align: center;
}

.slide-container .wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
}
.slide-container .wrapper:focus {
	outline: 0;
}

.clash-card {
	background: white;
	width: 300px;
	display: inline-block;
	margin: auto;
	border-radius: 19px;
	position: relative;
	text-align: center;
	box-shadow: -1px 15px 30px -12px black;
	z-index: 9999;
}

.clash-card__image {
	position: relative;
	height: 230px;
	margin-bottom: 35px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.clash-card__image--barbarian img {
	width: 400px;
	position: absolute;
	top: -65px;
	left: -70px;
}

.clash-card__image--archer {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.clash-card__image--archer img {
	width: 400px;
	position: absolute;
	top: -34px;
	left: -37px;
}

.clash-card__image--giant {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg');
}
.clash-card__image--giant img {
	width: 340px;
	position: absolute;
	top: -30px;
	left: -25px;
}

.clash-card__image--goblin {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
.clash-card__image--goblin img {
	width: 370px;
	position: absolute;
	top: -21px;
	left: -37px;
}

.clash-card__image--wizard {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg');
}
.clash-card__image--wizard img {
	width: 345px;
	position: absolute;
	top: -28px;
	left: -10px;
}

.clash-card__image--wise {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
.clash-card__image--wise img {
	width: 370px;
	position: absolute;
	top: -21px;
	left: -37px;
}

.clash-card__level {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 3px;
}

.clash-card__level--barbarian {
	color: var(--barbarian-color);
}

.clash-card__level--archer {
	color: var(--archer-color);
}

.clash-card__level--giant {
	color: var(--giant-color);
}

.clash-card__level--goblin {
	color: var(--globlin-color);
}

.clash-card__level--wizard {
	color: var(--wizard-color);
}
.clash-card__level--wise {
	color: var(--text-black-color);
}

.clash-card__unit-name {
	font-size: 26px;
	color: black;
	font-weight: 900;
	margin-bottom: 5px;
}

.clash-card__unit-description {
	padding: 20px;
	margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
	background: var(--barbarian-color);
}
.clash-card__unit-stats--barbarian .one-third {
	border-right: 1px solid #7e19de;
}
.clash-card__unit-stats--archer {
	background: var(--archer-color);
}
.clash-card__unit-stats--archer .one-third {
	border-right: 1px solid #c6134e;
}
.clash-card__unit-stats--giant {
	background: var(--giant-color);
}
.clash-card__unit-stats--giant .one-third {
	border-right: 1px solid #b46207;
}

.clash-card__unit-stats--goblin {
	background: var(--globlin-color);
}
.clash-card__unit-stats--goblin .one-third {
	border-right: 1px solid #51a;
}

.clash-card__unit-stats--wizard {
	background: var(--wizard-color);
}
.clash-card__unit-stats--wizard .one-third {
	border-right: 1px solid #309eff;
}
.clash-card__unit-stats--wise {
	background: var(--wise-color);
}
.clash-card__unit-stats--wise .one-third {
	border-right: 1px solid #d0aa11;
	color: var(--text-black-color);
}

.clash-card__unit-stats {
	color: white;
	font-weight: 700;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
	width: 33%;
	float: left;
	padding: 20px 15px;
}
.clash-card__unit-stats sup {
	position: absolute;
	bottom: 4px;
	font-size: 45%;
	margin-left: 2px;
}
.clash-card__unit-stats .stat {
	position: relative;
	font-size: 24px;
	margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
}
.clash-card__unit-stats .no-border {
	border-right: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

.slick-prev {
	left: 5px !important;
	z-index: 999;
}
.slick-next {
	right: 30px !important;
	z-index: 999;
}
button.slick-arrow::before {
	font-size: 3rem;
}
img.avatar01 {
	position: relative;
	left: 10px;
	top: -20px;
	height: 250px;
	width: auto;
}
img.avatar02 {
	position: relative;
	top: -60px;
	height: 290px;
	width: auto;
}
img.avatar03 {
	position: relative;
	top: -60px;
	height: 350px;
	width: auto;
}
img.avatar04 {
	position: relative;
	top: -20px;
	height: 250px;
	width: auto;
}
img.avatar05 {
	position: relative;
	top: -20px;
	height: 250px;
	width: auto;
}
img.avatar06 {
	position: relative;
	top: -50px;
	height: 300px;
	width: auto;
}
/* ***************************************** avatars *** */
/* **************************** road map - time line *** */
.roadmap {
	background: url(../images/bg_roadmap_06.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}
.roadmap .wrapper {
	margin: 3.125em auto;
	padding: 1em 2.5em 1em;
	max-width: 1000px;
}
.timeline {
	line-height: 1.5em;
	font-size: 1.2rem;
	transition: all 0.4s ease;
	position: relative;
	counter-reset: section;
}
.timeline:before {
	content: '';
	width: 10px;
	height: 100%;
	background: #565fb9;
	position: absolute;
	top: 0;
	left: -3.313em;
	border-radius: 40px 40px;
}

.timeline--entry {
	position: relative;
	background-color: #eeeeee;
	/* shadow */
	-webkit-box-shadow: 2px 5px 16px 0px var(--first-color), 5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-shadow: 2px 5px 16px 0px var(--first-color), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.timeline--entry__title {
	color: var(--text-white-color);
	background: rgb(194, 12, 216, 1);
	background: -o-linear-gradient(
		90deg,
		rgba(194, 12, 216, 1) 10%,
		rgba(126, 25, 222, 1) 35%,
		rgba(194, 12, 216, 1) 80%
	);
	background: -moz-linear-gradient(
		90deg,
		rgba(194, 12, 216, 1) 10%,
		rgba(126, 25, 222, 1) 30%,
		rgba(126, 25, 222, 1) 70%,
		rgba(194, 12, 216, 1) 90%
	);
	background: -webkit-linear-gradient(
		90deg,
		rgba(194, 12, 216, 1) 10%,
		rgba(126, 25, 222, 1) 30%,
		rgba(126, 25, 222, 1) 70%,
		rgba(194, 12, 216, 1) 90%
	);
	background: linear-gradient(
		90deg,
		rgba(194, 12, 216, 1) 10%,
		rgba(126, 25, 222, 1) 30%,
		rgba(126, 25, 222, 1) 70%,
		rgba(194, 12, 216, 1) 90%
	);
	font-weight: 900;
	font-size: 1.2rem;
	padding: 1em;
	/* border */
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.timeline--entry__title:before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -1em;
	border-right: 10px solid #ec407a;
}
.timeline--entry__detail {
	background-color: #dddddd;
	padding: 1em;
	margin: 0;
}
.timeline--entry:before {
	content: '';
	color: var(--text-white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	height: 3em;
	background-color: #565fb9;
	border: 0.2em solid white;
	border-radius: 50%;
	position: absolute;
	counter-increment: section;
	content: counter(section);
	text-shadow: 0 1px 0 #424242;
	left: -4.5em;
}

@supports (display: grid) {
	@media (min-width: 768px) {
		.timeline {
			display: grid;
			grid-gap: 4.75em;
			grid-template-areas: '.  entry1' 'entry2  .' '. entry3' 'entry4 .' '. entry5';
		}
		.timeline:before {
			left: 49.5%;
		}

		.timeline--entry:nth-child(1) {
			grid-area: entry1;
		}
		.timeline--entry:nth-child(2) {
			grid-area: entry2;
		}
		.timeline--entry:nth-child(3) {
			grid-area: entry3;
		}
		.timeline--entry:nth-child(4) {
			grid-area: entry4;
		}
		.timeline--entry:nth-child(5) {
			grid-area: entry5;
		}
		.timeline--entry:nth-of-type(odd):before {
			left: -3.8em;
		}
		.timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
			left: 100%;
			border-left: 10px solid #ec407a;
			border-right: 0;
		}
		.timeline--entry:nth-of-type(even):before {
			left: 103%;
		}
	}
}
/* *************************** roadmap box-almanaq *** */
@font-face {
	font-family: 'letters';
	src: url(http://junesiphone.com/WebFonts/Building_Typeface.ttf);
}
@font-face {
	font-family: 'numbers';
	src: url(http://junesiphone.com/WebFonts/Dense-Regular.otf);
}
.almanaq-left-text {
	position: relative;
	top: 40px;
	left: -280px;
	font-size: 7rem;
	color: var(--text-white-color);
}
.box-almanaq {
	position: relative;
	top: 20px;
	/* left: 5%; */
	/* width: 100%; */
	height: 200px;
	overflow: hidden;
	font-family: 'numbers';
	text-align: center;
	color: var(--link-color);

	z-index: 100;
	text-align: center;
	background: var(--text-black-color);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border: 2px solid var(--text-white-color);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.clock {
	position: relative;
	top: -110px;
	font-size: 70px;
	font-family: 'numbers';
	/* color: var(--barbarian-color); */
}
.month {
	position: relative;
	top: -125px;
	font-size: 50px;
	font-family: 'letters';
	font-weight: 200;
	text-transform: uppercase;
	color: var(--gray-dark-color);
}
.date {
	position: relative;
	top: -140px;
	left: -30px;
	font-size: 72px;
	font-family: 'letters';
	/* color: green; */
}
.day {
	position: relative;
	top: -242px;
	left: 20px;
	font-size: 20px;
	font-family: 'letters';
	letter-spacing: 0;
	text-transform: uppercase;
	/* color: blueviolet; */
}
.year {
	position: relative;
	top: -185px;
	left: 30px;
	font-size: 30px;
	font-family: 'number';
	/* color: yellow; */
}

#dates {
	position: relative;
	/* top: -40px; */
}
.almanaq-right-text {
	position: relative;
	top: -330px;
	right: -170px;
	/* right: -240px; */
	font-size: 7rem;
	color: var(--text-white-color);
}
@media screen and (min-width: 1024px) {
	.almanaq-right-text {
		right: -230px;
	}
}
/* ************************** timeline-box-items ********** */
/* section.roadmap {
} */
.box-items {
	/*     max-width: 100vw; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	font-family: consolas;
}

.box-items .card {
	/*     position: relative; */
	cursor: pointer;
}

.box-items .card .face {
	width: 300px;
	height: 200px;
	transition: 0.5s;
}

.box-items .card .face.face1 {
	position: relative;
	background: var(--text-black-color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
	border-radius: 30px;
	border: 2px solid var(--text-white-color);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.box-items .card:hover .face.face1 {
	background: #ff0057;
	transform: translateY(0);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.box-items .card .face.face1 .content {
	opacity: 0.2;
	transition: 0.5s;
}

.box-items .card:hover .face.face1 .content {
	opacity: 1;
}

.box-items .card .face.face1 .content img {
	max-width: 100px;
}

.box-items .card .face.face1 .content h3 {
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

.box-items .card .face.face2 {
	/*     position: relative; */
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	transform: translateY(-100px);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.box-items .card:hover .face.face2 {
	transform: translateY(0);
}

.box-items .card .face.face2 .content p {
	margin: 0;
	padding: 0;
}

.box-items .card .face.face2 .content a {
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}

.box-items .card .face.face2 .content a:hover {
	background: #333;
	color: #fff;
}
